
.welcome-message-container {
	background-color: $accentColor;
	width: 100%;
	height: 40%;
	top: 0;
	position: relative;

	border-bottom: solid 2px $white;
}

.welcome-message {
	width: 100%;
	text-align: center;
}

.welcome-title {

}

.welcome-subtitle {
	font-size: 20px;
}

.login-register-container {
	width: 100%;
	height: 40%;
	position: absolute;
	bottom: 0;
}

.buttons-container {
	top: 0;
	width: 80%;

}

.login-btn {
	float: left;
}

.register-btn {
	float: right;
}


.form-container {
	width: 80%;
	top: 20%;
}


input {
	border: 0;
	display: block;	

	&.error {
		background-color:rgb(255, 231, 231);
	}
}

*:focus {
	outline: 0;
}

input[type="submit"] {
    background: $accentColor;
    color: white;
    -webkit-appearance: none; /* remove default browser <button> styling */
    border-radius: 0;
    width: 100%;
    height: 40px;
    font-size: 20px;
}


.input-field {
	width: 100%;
	height: 40px;
	margin: 10px 0;
	padding-left: 5px;
	font-size: 16px;
	color: black;
}