.dashboard-container {
	position: absolute;
	width: 70%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 0;
	background-color: #020733;

}

.logout, .clear-routines, .reminders, .dashboard-item {
	//text-align: center;
    font-size: 25px;
    color: $white;
    margin-left: 10%;
    font-weight: 300;
    padding: 25px 0;
    border-bottom: 1px solid $white;
    width: 80%;
}


.desklife-logo {
	width: 80%;
	min-width: 202px;
	margin: 40px auto 10px;
	background-color: #020733;
	text-align: center;
	border: 2px solid $white;
	border-radius: 10px;
}

.desklife-title {
	color: $white;
	font-size: 30px;
	padding-top: 8px;
}

.desklife-slogan {
	color: #02b875;
	font-size: 16px;
	padding-bottom: 8px;
}


.about-container {
	.info-title {
		text-align: center;
	}
	.info-text-group {
		width: 90%;
	}
	.info-text {
		margin-bottom: 30px;
	}
}