
.exercise-detail-header {
	position: absolute;
	z-index: 2;
	top: 0;
}
.exercise-detail {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 97%;
	overflow-y: scroll;
	background-color: $darkBlue;
	z-index: 1;
	color: $white;
	transform: translateY(100%);
	transition: all 0.3s ease;

	&.show {
		transform: translateY(0);
		//background-color: blue;
	}
}

.exercise-title {
	width: 80%;
	margin: 5% auto 5%;
}

.exercise-image {
	width: 100%;
}
.exercise-text-group {
	width: 80%;
	margin: 5% auto;
}

.exercise-text-title {
	font-size: 36px;
	margin-top: 10%;
	margin-bottom: 5%;
}

.exercise-text {
	font-size: 20px;
}


