.reminders-container {
	width: 100%;
	height: 100%;
	background-color: $darkBlue;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	transform: translateY(100%);
	transition: all 0.3s ease;

	&.show {
		transform: translateY(0);
		//background-color: blue;
	}
}

.close-reminders {
	cursor: pointer;
	width: 22px;
	position: absolute;
	top: 20px;
	left: 20px;
}

.reminders-message {
	font-weight: 300;
	font-size: 20px;
	width: 50%;
	margin: 100px auto 50px;
	text-align: center;
}

.reminders-toggle {
	width: 200px;
	height: 50px;
	margin: 50px auto;
	position: relative;
	background-color: $white;
	border-top: 3px solid $darkGrey;
	border-radius: 5px;
	color: $darkBlue;
	text-align: center;
	line-height: 50px;
}

.reminders-on, .reminders-off {
	position: absolute;
	width: 50%;
	z-index: 1;
	top: 0;
}


.reminders-on {
	left: 0;
	color: $darkGrey;
}

.reminders-off {
	right: 0;
	color: $white;
}

.switch {
	width: 50%;
	height: 50px;
	position: absolute;
	top: -3px;
	z-index: 0;
	border-radius: 5px;
	border-bottom: 3px solid $darkGrey;
	background-color: $gioGreen;
	transform: translateX(100%);
	transition: all 0.3s ease;

}


.reminders-toggle {
	&.on {

		.reminders-on {
			color: $white;
		}

		.reminders-off {
			color: $darkGrey;
		}

		.switch {
			transform: translateX(0);
		}
	}
}
