

$white: #fff;

$gioGreen: #53af7a;
$gioLightBlue: #daefec;
$gioBlueGreen: #63bbb0;

$darkGrey: #424242;
$darkBlue: #1C2D4C;

$hsYellow: #fed587;
$hsDarkGrey: #4c5365;
$hsLightGrey: #9da3b3;
$hsPurple: #818bab;

$primaryText: $darkGrey;
$accentColor: $gioGreen;
$headerColor: $gioGreen;

$bgColor1: $gioLightBlue;
//$bgColor1: #C0C6D3;
$bgColor2: $gioLightBlue;
$dashboardColor: $hsDarkGrey;

$animation: 0.3s ease-out;