<template name="exitSequenceModal">
	<div class="exit-sequence-modal">
		<div class="exit-sequence-container align-center">
			<div class="exit-sequence-title">
				Are you sure you want to exit this routine?
			</div>
			<a href="/"><div class="confirm-exit exit-sequence-btn">Yes</div></a>
			<div class="return-to-routine exit-sequence-btn">No</div>
		</div>
	</div>
</template>

<template name="nextExerciseModal">
	<div class="next-exercise-modal">
		<div class="next-exercise-wrapper align-vertical">
			<div class="next-exercise-text">Next Exercise</div>
			<div class="next-exercise-timer">{{nextExerciseTimer}}</div>
		</div>
	</div>
</template>

<template name="routineSequence">
	{{#if viewingExercise}}
		{{> exerciseDetail}}
	{{/if}}
	{{#if exitingSequence}}
		{{> exitSequenceModal}}
	{{/if}}
	{{#if nextExercise}}
		{{> nextExerciseModal}}
	{{/if}}
	<header>	
		<img class="close align-vertical" src="/images/close.png">
		<div class="active-exercise-progress align-center">{{exercisesCompleted}}/{{totalExercises}}</div>
	</header>
	{{#with activeExercise}}
	<div class="active-exercise-wrapper align-center">
		<div class="view-exercise active-exercise-title">{{name}}</div>
		{{#if imagePath}}
		<img class="view-exercise active-exercise-image" src="{{imagePath}}">
		{{#if shortDescription}}
		<div class="active-exercise-short">{{shortDescription}}</div>
		{{/if}}
		{{else}}
		<div class="view-exercise active-exercise-description">{{description}}</div>
		{{/if}}
	</div>
	{{/with}}
	<div class="timer-group">
		<div class="timer align-vertical">00:{{timer}}</div>
		<div class="toggle-timer align-vertical">
			{{#if timerRunning}}
			<img class="pause align-center" src="/images/pause.png">
			{{else}}
			<div class="resume align-center"></div>
			{{/if}}
		</div>
	</div>
</template>
