<template name="routinesList">
<!-- {{#if settingReminders}}
	{{> reminders}}
{{/if}}
{{#if viewingPrinciples}}
	{{> principles}}
{{/if}} -->
{{#if viewingAbout}}
	{{> about}}
{{/if}}
{{#HammerTouchArea gestureMap=templateGestures}}
{{> dashboard}}
<div class="routines-container">
	<header class="routines-header">
		<div class="toggle-dashboard">
			<div class="hamburger align-vertical">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<div class="desklife-info">
			<div class="info-icon align-vertical">i</div>
		</div>
	</header>
	<div class="start-btn align-center">Begin</div>
	<div class="progress-message align-horizontal">
		{{completedRoutines}} / {{routinesCount}} 
	</div>
</div>
{{#if viewingInfo}}
	{{> desklifeInfo}}
{{/if}}
{{/HammerTouchArea}}
</template>


<template name="desklifeInfo">
	<div class="info-container">
		<div class="info-title">DeskLife</div>
		<div class="info-text-group">
			<div class="info-text">When you press ‘Begin’, you’ll be guided through a few exercises designed to bring more movement and mindfulness to your desk.</div>
			<div class="info-text">Come back throughout the day to complete all six routines.</div>
			<div class="info-text emphasis">Let's work <span>smarter</span> and feel <span>better.</span></div>
		</div>
		<div class="close-wrapper">
			<img class="close-exercise-detail align-center" src="/images/close_black.png">
		</div>
	</div>
</template>