<template name="routinesList">
{{#if settingReminders}}
	{{> reminders}}
{{/if}}
{{> dashboard}}
<div class="routines-container">
	<header class="routines-header">
		<div class="toggle-dashboard">
			<div class="hamburger align-vertical">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<div class="desklife-info">
			<div class="info-icon align-vertical">i</div>
		</div>
	</header>
	<div class="start-btn align-center">Begin</div>
	<div class="progress-message align-horizontal">
		{{completedRoutines}} / {{routinesCount}} 
	</div>
</div>
{{#if viewingInfo}}
	{{> desklifeInfo}}
{{/if}}
</template>


<template name="desklifeInfo">
	<div class="info-container">
		<div class="info-title">Desklife</div>
		<div class="info-text-group">
			<div class="info-text">When you press ‘Begin’, you’ll be guided through a few exercises designed to help you get grounded. Come back to the app throughout your day to complete your daily number of routines. If you spend most of your time in front of a desk, this app is for you. It is an opportunity to keep your mind and body feeling good. When you’re ready, press ‘Begin’. Let's work smarter and feel better. </div>
		</div>
		<div class="close-wrapper">
			<img class="close-exercise-detail align-center" src="/images/close.png">
		</div>
	</div>
</template>