<template name="dashboard">
	<div class="dashboard-container">
    	<div class="desklife-logo">
    		<div class="desklife-title">DeskLife</div>
    		<div class="desklife-slogan">Work smarter. Feel better.</div>
    	</div>
    	<div class="dashboard-item about-section">About</div>
    	<div class="dashboard-item principles-section">Principles</div>
    	<div class="dashboard-item reminders">Reminders</div>
    </div>
</template>


<template name="principles">
	<div class="principles-container">
		<div class="reminders-message">6 reminders<br> 10am - 6pm</div>
		<div class="close-wrapper close-principles">
			<img class="close-exercise-detail align-center" src="/images/close_black.png">
		</div>
	</div>
</template>

<template name="about">
	<div class="about-container">
		<div class="info-title">About Desklife</div>
		<div class="info-text-group">
			<div class="info-text">The problem DeskLife is trying to address is physical, mental, and emotional stress from long hours of computer use. Millions of people's livelihoods depend upon them working in front of a computer for 8 or more hours a day. For many this also means long periods of uninterrupted sitting with poor posture. Our bodies were not meant for such extended periods of inactivity, and the toll is takes on us is not just physical, but mental and emotional too.</div>

			<div class="info-text">The solution is to incorporate movement, stretching, and mindfulness exercises into our work routines. The rule of thumb is 3-5 minutes of movement for every 30 minutes of inactivity. Many of these movement breaks are as simple as getting up for a glass of water or walking to a colleague's desk to ask a question. But some of them should be more intentional. These more intentional breaks are what DeskLife aims to help with.</div>
		</div>
		<div class="close-wrapper close-about">
			<img class="close-exercise-detail align-center" src="/images/close_black.png">
		</div>
	</div>
</template>