<template name="dashboard">
	<div class="dashboard-container">
    	<div class="clear-routines">Reset Routines</div>
    	<div class="reminders">Reminders</div>
    	<div class="dashboard-message-group align-center">
	    	<div class="desklife-logo">
	    		<div class="desklife-title">Desk Life</div>
	    		<div class="desklife-slogan">Work smarter. Feel better.</div>
	    	</div>
	    	<div class="dashboard-message">
	    		Thanks for your support!
	    	</div>
    	</div>

    </div>
</template>